:root{
    --blue: #003c69;
    --light-blue: #3abaf9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
}
body {
    background-color: var(--light-blue);
    background-image: url('../../assets/images/background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachament: fixed;
    height: 100vh;
    position: relative;
}
::selection {
    background: var(--blue);
    color: #fff;
}
header {
    background: rgba(255, 255, 255,.2);
    padding: 3%;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
}
footer {
    background: rgba(0, 0, 0,.2);
    padding: 1.6%;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 14px;
}
a {
    text-decoration: none;
    color: var(--light-blue);
}
.search-bar {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 45%;
}
.search {
    padding: 20px 30px;
    width: 100%;
    font-weight: 500;
    font-size: 24px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: var(--blue);
    background: rgba(255, 255, 255,.2);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
.apps {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 20px;
}
.apps .steamicon {
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 22px;
    color: var(--blue);
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    background: rgba(255, 255, 255,.2);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    margin: 10px;
}
.apps .discordicon {
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 22px;
    color: var(--blue);
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    background: rgba(255, 255, 255,.2);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    margin: 10px;
}
.apps .spotifyicon {
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 22px;
    color: var(--blue);
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    background: rgba(255, 255, 255,.2);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    margin: 10px;
}
.apps .githubicon {
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 22px;
    color: var(--blue);
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    background: rgba(255, 255, 255,.2);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    margin: 10px;
}
.apps .instagramicon {
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 22px;
    color: var(--blue);
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    background: rgba(255, 255, 255,.2);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    margin: 10px;
}
.apps2 {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 20px;
}
.apps2 .tiktokicon {
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 22px;
    color: var(--blue);
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    background: rgba(255, 255, 255,.2);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    margin: 10px;
}
.apps2 .twitchicon {
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 22px;
    color: var(--blue);
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    background: rgba(255, 255, 255,.2);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    margin: 10px;
}
.apps2 .youtubeicon {
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 22px;
    color: var(--blue);
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    background: rgba(255, 255, 255,.2);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    margin: 10px;
}
.apps2 .twittericon {
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 22px;
    color: var(--blue);
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    background: rgba(255, 255, 255,.2);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    margin: 10px;
}
.apps2 .translateicon {
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 22px;
    color: var(--blue);
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    background: rgba(255, 255, 255,.2);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    margin: 10px;
}
.icon-large {
  width: 220px;
  height: 220px;
  border-radius: 38px;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
}

.icon-clock {
  overflow: hidden;
  background: rgba(255, 255, 255,.2);
  border-radius: 50%;
  box-shadow: -3px -3px 7px rgba(0,0,0,.5),
              2px 2px 5px rgba(0,0,0,.5);
}

.clock {
  width: 192px;
  height: 192px;
  border-radius: 50%;
  background: rgba(255, 255, 255,.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset 2px 2px 5px rgba(0,0,0,.5),
              inset -5px -5px 10px rgba(0,0,0,.5);
}
.clock ol {
  list-style-type: none;
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
.clock ol li {
  counter-increment: labelCounter;
  position: absolute;
  font-size: 1.25em;
}
.clock ol li:before {
  font-family: "Helvetica";
  content: counter(labelCounter) "";
}
.clock ol li:nth-child(1) {
  right: 55px;
  top: 20px;
}
.clock ol li:nth-child(2) {
  right: 25px;
  top: 50px;
}
.clock ol li:nth-child(3) {
  right: 12px;
  top: 85px;
}
.clock ol li:nth-child(4) {
  right: 25px;
  top: 125px;
}
.clock ol li:nth-child(5) {
  right: 55px;
  top: 150px;
}
.clock ol li:nth-child(6) {
  right: 90px;
  top: 160px;
}
.clock ol li:nth-child(7) {
  right: 125px;
  top: 150px;
}
.clock ol li:nth-child(8) {
  right: 155px;
  top: 125px;
}
.clock ol li:nth-child(9) {
  right: 165px;
  top: 85px;
}
.clock ol li:nth-child(10) {
  right: 150px;
  top: 50px;
}
.clock ol li:nth-child(11) {
  right: 120px;
  top: 20px;
}
.clock ol li:nth-child(12) {
  right: 85px;
  top: 10px;
}

@-webkit-keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
#hour {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #303030;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -7px;
  margin-left: -7px;
}
#hour:before, #hour:after {
  content: "";
  display: block;
  position: absolute;
}
#hour:before {
  width: 8px;
  height: 65px;
  border-radius: 4px;
  background: #303030;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translate(-50%, 0);
}

#min {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: #303030;
  position: absolute;
  top: 50%;
  left: 50%;
}
#min:before, #min:after {
  content: "";
  display: block;
  position: absolute;
}
#min:before {
  width: 6px;
  height: 90px;
  border-radius: 4px;
  background: #303030;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translate(-50%, 0);
}

#sec {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #dd3e1c;
  border: 2px solid #e13e1b;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -4px;
}
#sec:before, #sec:after {
  content: "";
  display: block;
  position: absolute;
}
#sec:before {
  width: 2px;
  height: 105px;
  border-radius: 4px;
  background: #e13e1b;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translate(-50%, 0);
}
@media only screen and (max-width: 600px) {
  .search-bar {
    width: 100%;
    left: 0;
  }
  .apps2 {
    display: none;
  }
  .icon-large {
    left: 50%;
    top: 75%;
  }
  footer {
    padding: 3.2%;
  }
  header {
    padding: 6%;
  }
}
